.mario {
  text-decoration: none;
  position: relative;
  letter-spacing: -1.1px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-7xs) 0px 0px;
}
.browseMenu {
  width: 78.4px;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
}
.savings {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
}
.menu {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.heroRight {
  width: 352.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
}
.signIn {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 53px;
  flex-shrink: 0;
}
.signInButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0px 0px;
}
.signUp {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 59px;
}
.button {
  cursor: pointer;
  border: none;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-base);
  background-color: var(--color-cadetblue);
  flex: 1;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.button:hover {
  background-color: #33878f;
}
.userActions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31.2px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
}
.heroCenter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-steelblue-100);
  font-family: var(--font-inter);
}
.before {
  font-weight: 700;
}
.knowWhatYoureContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-family: inherit;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color-white);
  height: 24px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-inria-sans);
  font-weight: 700;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
  min-width: 161px;
}
.div3 {
  width: 293px;
  background-color: var(--color-gray-100);
  border-right: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.locationPinIcon {
  width: 12px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.locationIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
}
.input1 {
  width: calc(100% - 36px);
  border: none;
  outline: none;
  background-color: var(--color-white);
  height: 24px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-inria-sans);
  font-weight: 700;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
  min-width: 161px;
}
.div4 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  border-right: 1px solid var(--color-lightgray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: 8px;
}
.locationInput {
  width: 305px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xs) 0px 0px;
  box-sizing: border-box;
}
.insuranceDropdownIcon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.insuranceIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 8px 0px 0px;
}
.chooseInsurance {
  width: 137px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.input2 {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.insuranceInput {
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0px 0px;
  box-sizing: border-box;
}
.div2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) var(--padding-mini);
  flex-shrink: 0;
  max-width: 100%;
  row-gap: 20px;
}
.div1 {
  width: 896px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.searchBar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-23xl) 0px 43px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 35px;
  max-width: 100%;
}
.searchContainerWrapper {
  width: 1281.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.heroLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 77px;
  flex-shrink: 0;
  max-width: 100%;
}
.heroContainer {
  width: 1424.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 64px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.findServicesAnd {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.servicesDescription {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 119px 0px 116px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.image1Icon {
  position: absolute;
  top: 29px;
  left: 47px;
  width: 117px;
  height: 24px;
  object-fit: cover;
}
.button1 {
  height: 82px;
  width: 212px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.image2Icon {
  position: absolute;
  top: 19px;
  left: 49px;
  width: 113px;
  height: 43px;
  object-fit: cover;
}
.button2 {
  height: 82px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  min-width: 138px;
}
.image3Icon {
  position: absolute;
  top: 21px;
  left: 42px;
  width: 128px;
  height: 40px;
  object-fit: cover;
}
.insuranceOptions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.addYourInsurance {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inria-sans);
  color: var(--color-black);
  text-align: center;
}
.button5 {
  cursor: pointer;
  border: 1px solid #767e8e;
  padding: var(--padding-sm) var(--padding-7xs) var(--padding-xs)
    var(--padding-4xs);
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  width: 240px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.button5:hover {
  background-color: rgba(230, 230, 230, 0);
  border: 1px solid #8f99a8;
  box-sizing: border-box;
}
.button4 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px var(--padding-mini) var(--padding-12xs);
  max-width: 100%;
}
.buttonWrapper {
  width: 424px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 53px 0px 49px;
  box-sizing: border-box;
  max-width: 100%;
}
.addInsurance {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 26px;
  max-width: 100%;
}
.image4Icon {
  position: absolute;
  top: 27px;
  left: 41px;
  width: 129px;
  height: 27px;
  object-fit: cover;
}
.insuranceButtons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 434px;
  max-width: 100%;
}
.insuranceActions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.section {
  height: 258px;
  flex: 1;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-46xl) 272px 168px;
  box-sizing: border-box;
  gap: var(--gap-19xl);
  flex-shrink: 0;
  max-width: 100%;
}
.sectionWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 154px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
}
.readyToSave {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.joinTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 95px 0px 94px;
}
.joinThousandsOf {
  align-self: stretch;
  position: relative;
}
.marioHealth {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-246xl) 0px 264px;
}
.joinDescription {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-4xs);
  gap: 4px;
  font-size: var(--font-size-base);
}
.getStarted {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 90px;
}
.button7 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-9xl) var(--padding-sm)
    var(--padding-13xl);
}
.buttonContainer {
  cursor: pointer;
  border: none;
  padding: 0px 239px 0px 238px;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.div5 {
  flex: 1;
  border-radius: 16px;
  background-color: rgba(46, 80, 119, 0.42);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) 310px var(--padding-29xl) 311px;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  flex-shrink: 0;
  max-width: 100%;
}
.divWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-61xl) var(--padding-61xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 30px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.browseTheMost {
  margin: 0 !important;
  width: 529px;
  position: absolute;
  right: 440px;
  bottom: -796px;
  font-size: 32px;
  font-weight: 400;
  font-family: inherit;
  text-align: left;
  display: inline-block;
}
.frameIcon {
  position: absolute;
  top: 13px;
  left: 36px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div8 {
  align-self: stretch;
  height: 56px;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-cadetblue);
}
.mri {
  flex: 1;
  position: relative;
}
.mriWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-15xl) 0px var(--padding-16xl);
}
.div7 {
  flex: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-smi);
  max-width: 128px;
}
.frameIcon1 {
  position: absolute;
  top: 15px;
  left: 34px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.xRay {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.xRayWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 27px 0px var(--padding-9xl);
}
.div9 {
  flex: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-smi);
  max-width: 128px;
}
.frameIcon2 {
  position: absolute;
  top: 15px;
  left: 39px;
  width: 18px;
  height: 24px;
  overflow: hidden;
}
.obGyn {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.obGynWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-lgi);
}
.div6 {
  flex: 1;
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-14xl) var(--padding-base) 0px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  flex-shrink: 0;
  max-width: 100%;
}
.specialtiesContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 320px 0px 351px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.div {
  height: 690px;
  background-color: #f6f4f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0px 408px;
  box-sizing: border-box;
  position: relative;
  gap: 158px;
  max-width: 103%;
  text-align: center;
  font-size: 48px;
  color: var(--color-steelblue-100);
  font-family: var(--font-inria-sans);
}
.comparisonHeadersIcon {
  position: absolute;
  top: 20px;
  left: 18.5px;
  width: 27px;
  height: 24px;
  overflow: hidden;
}
.div15 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-lightsteelblue);
}
.comparisonCards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 103px 0px 102px;
}
.compareMedicationPrices {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.comparisonContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.comparisonItems {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 25px 0px 23px;
}
.findTheBest {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 16px;
  color: var(--color-lightslategray-100);
}
.div14 {
  flex: 0.9755;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 38px var(--padding-15xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 296px;
  max-width: 100%;
}
.frameIcon3 {
  position: absolute;
  top: 20px;
  left: 17px;
  width: 30px;
  height: 24px;
  overflow: hidden;
}
.divContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-48xl) 0px 66px;
}
.divInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 63px 0px var(--padding-46xl);
}
.div16 {
  flex: 1;
  background-color: rgba(246, 244, 240, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-16xl) var(--padding-15xl)
    var(--padding-14xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 296px;
  max-width: 100%;
}
.frameIcon4 {
  position: absolute;
  top: 20px;
  left: 21.5px;
  width: 21px;
  height: 24px;
  overflow: hidden;
}
.divFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 122px 0px 120px;
}
.findProviders {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.findProvidersWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 83px 0px 82px;
}
.locateHealthcareProviders {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 16px;
  color: var(--color-lightslategray-100);
}
.div18 {
  flex: 0.9388;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 44px 54px;
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 296px;
  max-width: 100%;
}
.div13 {
  width: 1248px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.priceComparison {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-48xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.root {
  width: 1403px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid #ced4da;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 815px;
  gap: 51px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1275px) {
  .section {
    height: auto;
  }

  .div5 {
    padding-left: var(--padding-136xl);
    padding-right: var(--padding-136xl);
    box-sizing: border-box;
  }

  .div {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-246xl);
    box-sizing: border-box;
  }

  .priceComparison {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .div2 {
    flex-wrap: wrap;
  }

  .searchBar {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }

  .servicesDescription {
    padding-left: 58px;
    padding-right: 59px;
    box-sizing: border-box;
  }

  .insuranceButtons {
    flex-wrap: wrap;
    min-width: 100%;
  }

  .div6 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-top: var(--padding-base);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .div {
    height: auto;
    padding-bottom: 172px;
    box-sizing: border-box;
  }

  .div13 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .userActions {
    display: none;
  }

  .knowWhatYoureContainer {
    font-size: 38px;
    line-height: 38px;
  }

  .searchContainer {
    gap: 17px;
  }

  .heroLeft {
    gap: var(--gap-19xl);
  }

  .heroContainer {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }

  .insuranceOptions {
    flex-wrap: wrap;
  }

  .section {
    gap: var(--gap-lgi);
    padding-left: var(--padding-117xl);
    padding-right: var(--padding-117xl);
    box-sizing: border-box;
  }

  .readyToSave {
    font-size: var(--font-size-5xl);
  }

  .joinTitle {
    padding-left: var(--padding-28xl);
    padding-right: var(--padding-28xl);
    box-sizing: border-box;
  }

  .marioHealth {
    padding-left: var(--padding-113xl);
    padding-right: var(--padding-113xl);
    box-sizing: border-box;
  }

  .div5 {
    padding-left: var(--padding-58xl);
    padding-right: var(--padding-58xl);
    box-sizing: border-box;
  }

  .divWrapper {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }

  .browseTheMost {
    font-size: 26px;
  }

  .specialtiesContainer {
    padding-left: 175px;
    padding-right: 160px;
    box-sizing: border-box;
  }

  .div {
    gap: 79px;
  }

  .div13 {
    gap: var(--gap-base);
  }

  .root {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .knowWhatYoureContainer {
    font-size: 29px;
    line-height: 29px;
  }

  .div4 {
    flex-wrap: wrap;
  }

  .heroLeft {
    gap: var(--gap-lgi);
  }

  .findServicesAnd {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }

  .servicesDescription {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .buttonWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .section {
    padding: var(--padding-23xl) var(--padding-xl) 109px;
    box-sizing: border-box;
  }

  .sectionWrapper {
    padding-bottom: 100px;
    box-sizing: border-box;
  }

  .readyToSave {
    font-size: 18px;
  }

  .joinTitle {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .marioHealth {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .buttonContainer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .div5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .divWrapper {
    padding-bottom: 52px;
    box-sizing: border-box;
  }

  .browseTheMost {
    font-size: var(--font-size-lgi);
  }

  .specialtiesContainer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .div {
    gap: 39px;
    padding-bottom: 112px;
    box-sizing: border-box;
  }

  .comparisonCards {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .compareMedicationPrices {
    font-size: var(--font-size-base);
    line-height: 16px;
  }

  .div14 {
    flex: 1;
  }

  .divInner {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .divFrame {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .findProviders {
    font-size: var(--font-size-base);
    line-height: 16px;
  }

  .findProvidersWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .div18 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }
}
