@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-sans: "Inria Sans";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-lgi: 19px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-white: #fff;
  --color-lightgray-100: #d1d5db;
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-gray-100: rgba(0, 0, 0, 0);
  --color-lightslategray-200: #8f99a8;
  --color-lightslategray-100: #6a89a7;
  --color-darkslategray-100: #384959;
  --color-darkslategray-200: #374151;
  --color-lightsteelblue: #bdddfc;
  --color-whitesmoke-100: rgba(246, 244, 240, 0);
  --color-steelblue-100: #2e5077;
  --color-steelblue-200: rgba(46, 80, 119, 0.42);
  --color-cadetblue: #4da1a9;
  --color-gainsboro-100: #e5e7eb;
  --color-gainsboro-200: rgba(230, 230, 230, 0);
  --color-slategray: #767e8e;
  --color-black: #000;
  --color-darkgray: #adaebc;
  --color-teal: #33878f;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-lgi: 19px;
  --gap-5xl: 24px;
  --gap-lg: 18px;
  --gap-smi: 13px;
  --gap-9xs: 4px;
  --gap-19xl: 38px;
  --gap-7xl: 26px;
  --gap-58xl: 77px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-12xl-2: 31.2px;

  /* Paddings */
  --padding-48xl: 67px;
  --padding-14xl: 33px;
  --padding-5xl: 24px;
  --padding-25xl: 44px;
  --padding-35xl: 54px;
  --padding-xl: 20px;
  --padding-64xl: 83px;
  --padding-63xl: 82px;
  --padding-103xl: 122px;
  --padding-101xl: 120px;
  --padding-16xl: 35px;
  --padding-15xl: 34px;
  --padding-44xl: 63px;
  --padding-46xl: 65px;
  --padding-47xl: 66px;
  --padding-19xl: 38px;
  --padding-6xl: 25px;
  --padding-4xl: 23px;
  --padding-84xl: 103px;
  --padding-83xl: 102px;
  --padding-base: 16px;
  --padding-246xl: 265px;
  --padding-301xl: 320px;
  --padding-332xl: 351px;
  --padding-156xl: 175px;
  --padding-141xl: 160px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-8xl: 27px;
  --padding-9xl: 28px;
  --padding-9xs: 4px;
  --padding-61xl: 80px;
  --padding-33xl: 52px;
  --padding-21xl: 40px;
  --padding-29xl: 48px;
  --padding-291xl: 310px;
  --padding-292xl: 311px;
  --padding-58xl: 77px;
  --padding-136xl: 155px;
  --padding-220xl: 239px;
  --padding-219xl: 238px;
  --padding-sm: 14px;
  --padding-13xl: 32px;
  --padding-4xs: 9px;
  --padding-245xl: 264px;
  --padding-113xl: 132px;
  --padding-76xl: 95px;
  --padding-75xl: 94px;
  --padding-28xl: 47px;
  --padding-135xl: 154px;
  --padding-81xl: 100px;
  --padding-253xl: 272px;
  --padding-149xl: 168px;
  --padding-23xl: 42px;
  --padding-90xl: 109px;
  --padding-117xl: 136px;
  --padding-34xl: 53px;
  --padding-30xl: 49px;
  --padding-mini: 15px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-100xl: 119px;
  --padding-97xl: 116px;
  --padding-39xl: 58px;
  --padding-40xl: 59px;
  --padding-45xl: 64px;
  --padding-24xl: 43px;
  --padding-2xl: 21px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9980xl: 9999px;
  --br-xs: 12px;
  --br-base: 16px;
}